*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

p {
 
    border: 2px solid red;
    margin-top: 20px;
    
}

div{
   
    border: 5px solid orange;
    padding: 10px;
}


a {
    display: block;
    border: 2px solid purple;
    margin: 10px;
}

.flex > div {
border: 2px solid black;
flex-basis: 45%;
}

.flex {
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex:1;
    flex-wrap: wrap;
    align-content: flex-start;
    
}