* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

p {
    font-size: 1.8rem;
}

h1 {
    font-size: 2rem;
}

.parent {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media(min-width:600px){
    .parent{
        background-color: red;

    }

    h1 {
        font-size: 3rem;
    }
}

@media(min-width:1000px){
    .parent{
        background-color: green;
        flex-direction: row;
    }
    h1 {
        font-size: 4rem;
    }
}